.google-image-column{
    padding-right: 1px;;
}

.google-img{
    border: 10px solid;
    cursor: pointer;
}

.google-image-row{
    margin-top:1rem;
}


@media only screen and (max-width: 600px ) and (min-width : 320px)  {
    .google-image-column{
        padding-right: none;
    }
  }