.modal-title{
    color:black
}
.close{
    background-color: white;
    border:none;
    color:gray;
    font-size: large;
    font-weight: bold;
}

.carousel-control-next{
    /* padding-left: 4rem; */
    padding-right: 4rem;
    width: 5vw;
    
}
.carousel-control-prev{
    padding-left: 4rem;
    width: 5vw;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: gray; /* Change the arrow color to white */
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: black; /* Change the arrow color to white */
}

.carousel-inner{
    margin: 0 auto ;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0px;
    padding-right: 0px;
}
.carousel-item > img{
    width: 28rem;
    height: 30rem;
    display: block;
    margin: 0 auto;
  border: 1rem solid black ;
  border-radius : 0.5rem;
}

