
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: gray; /* Change the arrow color to white */
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  font-weight: bold;
  
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: orange; /* Change the arrow color to white */
  width: 5rem;
  height: 5rem;
}

/* .carousel-item  image{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
} */

.carousel-item > img{
    width: 25rem;
    height: 25rem;
}