.item-details-container {
  /* padding:1rem; */
  color: white;
  background-color: black;
  margin: 0 auto;
  /* width: 80%; */
  margin-top: 1rem;
}

.itemDetailsRow {
  height: 3rem;
  display: grid;
  /* grid-template-columns: 3fr 7fr; */
  align-items: center;
}

.product-images-link {
  color: rgb(116, 150, 152);
  cursor: pointer;
  
}

.product-image-btn{
  background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.itemDetailsRow:nth-child(odd) {
  background-color: rgb(34, 36, 41);
}
.itemDetailsRow:nth-child(even) {
  background-color: rgb(46, 48, 52);
}

/* Deskstop view */
@media (min-width:1025px){
  .itemDetailsRow {
    display: grid;
    grid-template-columns: 3fr 7fr;
  
  }
}

@media only screen and (max-width: 600px ) and (min-width : 320px)  {
  .itemDetailsRow {
    padding-top: 1rem;
    padding-bottom: 5rem;
  }
  .itemDetailsRow .col {
    padding-bottom: 1.2rem;
  }

}