.item-shipping-details-container {
  /* padding:1rem; */
  color: white;
  background-color: black;
  margin: 0 auto;
  /* width: 80%; */
  margin-top: 1rem;
}

.shippingFieldName {
  font-size: medium;
  font-weight: bold;
}

.shippingDetailsRow {
  height: 4rem;
  display: grid;
  grid-template-columns: 4fr 6fr;
  align-items: center;
  border-bottom: 0.5px solid rgb(46, 48, 52);;
}
