body{
    /* background-color: black;
    color:white */
}

/* #root{
    margin: 0 auto;
    width: 80%;
} */

#root{
    margin: 0 auto;
    width: 90%;
}

/* Deskstop view */
@media (min-width:1025px){
    #root{
        margin: 0 auto;
        width: 80%;
    }
}