.card-container {
}

.total-results-card{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: xx-large;
}


.item-card-table {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-redirect-logo{
    width: 15px;
    height: 15px;

  }

  .item-top-rated-logo{
    width: 16px;
    height: 25px;
  }