.card-container {
}

.total-results-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: xx-large;
  padding-top: 20px;
  padding-bottom: 10px;
}
.flying-card-container {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;

  position: relative;
  left: 50%;
  height: 180px;
  width: 800px;
  margin-left: -400px;

  border-radius: 8px;
  border: 1px solid gray;
  margin-bottom: 2px;
}

.flying-card-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}

.flying-image-container {
  display: inline-flex;
  align-items: center;
  width: 200px;
  height: 200px;
}

.flying-image {
  width: 120px;
  height: 100px;
  margin-left: 20%;
  border: 2px solid lightgray;
  transition: 0.5s;
}

.flying-image:hover {
  transform: scale(1.8);
}

.flying-table-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

.flying-table-container-td {
  border: none;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.title {
  white-space: nowrap;
  width: 570px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.item-redirect-logo {
  width: 15px;
  height: 15px;
}

.item-condition {
  display: inline-flex;
  align-items: center;
}

.item-top-rated-logo {
  width: 24px;
  height: 34px;
  vertical-align: middle;
  margin-left: 10px;
}

/* .total-results-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: xx-large;
} */

.show-more-btn,
.show-less-btn {
  position: relative;
  left: 50%;
  margin-top: 5px;
  /* padding-top: 5px; */
  height: 180px;
  width: 120px;
  margin-left: -60px;
  border: none;
  height: 30px;
  border-radius: 4px;
}

.show-more-btn:hover,
.show-less-btn:hover {
  background-color: limegreen;
  color: white;
}

.horizontal-grey-line {
  border: none;
  border-top: 1px solid lightgray;
  position: relative;
  width: 800px;
}


.no-results-found-card{
  display: flex;
  justify-content: center;
  align-items: center;
}

