.one-item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -24px;
}

.one-item-go-back-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.one-item-table {
  display: flex;
  justify-content: center;
  align-items: center;

  border: gray;
  border-collapse: collapse;
}

.one-item-table-field {
  font-weight: bold;
  padding-left: 10px;
  border: 2.5px solid rgb(215, 215, 215);
}

.one-item-table-image {
  width: 200px;
  height: 120px;
}

.one-item-table-link {
  text-decoration: underline;
  padding-left: 10px;
  border: 2.5px solid rgb(215, 215, 215);
}

.one-item-table-value {
  padding-left: 10px;
  border: 2.5px solid rgb(215, 215, 215);
}


