.elog {
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #00a3e0;
  background-color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.shopping {
  font-weight: bolder;
  font-size: 32px;
  color: black;
  display: flex;
  /* padding: 46px 0; */
  margin-top: 10%;
}

#eblay-logo-image {
  width: 190px;
  height: 80px;
}

.search-container,
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container-table {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}
.form-field {
  font-weight: bold;
}

#sort-by {
  text-align-last: center;
}
.search-contianer-table-td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.search-container-form-btn{
  border: none;
  height: 22px;
  border-radius: 3px;
}
.search-container-form-btn:hover {
  background-color: limegreen;
  color: white;
}

.one-item-go-back-btn {
    border: none;
    height: 22px;
    border-radius: 3px;
}

.one-item-go-back-btn:hover {
  background-color: limegreen;
  color: white;
}

