
.title-container{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    margin: 0 auto;
    width: 70%;
    height: 100%;
    margin-top:2%;
    padding: 0 1rem;
    box-sizing: border-box;
    
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    background-color: black;
    color: white;
}
