<!DOCTYPE html>
<html>

<head>
    <title> HW2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/style.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/all-items-card-container.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/one-item-card-container.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/flying-card.css')}}" type="text/css" />


    <script src="{{ url_for('static', filename = '/js/validation.js')}}"></script>
    <script src="{{ url_for('static', filename = '/js/cache.js')}}"></script>
    <script src="{{ url_for('static', filename ='/js/action.js')}}"></script>
    <script src="{{ url_for('static', filename ='/js/createAllItemDetailsCard.js')}}"></script>
    <script src="{{ url_for('static', filename ='/js/createItemDetailCard.js')}}"></script>
</head>

<body onload="loadFromLocalStorage()">
    <div class="main-container">
        <div class="logo-container">
            <table>
                
                    <tr>
                        <td><a href="https://www.ebay.com/" id="logo-link" target="_blank"><img src="{{ url_for('static', filename = '/images/ebayLogo.png')}}" alt="ebay-logo"
                                id="eblay-logo-image"></a></td>
                        <td><span class="shopping"> Shopping</span></td>
                    </tr>
                
            </table>


        </div>
        <div class="search-container">
            <form name="search-form">
                <table class="search-container-table">
                    <tr>
                        <td class="search-contianer-table-td"><span class="form-field">Keywords<span
                                    style="color: red;">*</span>:</span> <input type="text" id="keyword"
                                name="Key words" required autocomplete="on"/></td>
                    </tr>
                    <tr>
                        <td class="search-contianer-table-td"><span class="form-field">Price Range:</span>
                            From <input type="number" id="from-number" name="Price Range From" />
                            To <input type="number" id="to-number" name="Price Range To" /></td>
                    </tr>
                    <tr>
                        <td class="search-contianer-table-td"><span class="form-field">Condition</span>
                            <input type="checkbox" id="condition-new" name="Condition" value="New" />
                            <lable for="condition-new">New</lable>
                            <input type="checkbox" id="condition-used" name="Condition" value="Used" />
                            <lable for="condition-used"> Used</lable>
                            <input type="checkbox" id="condition-very-good" name="Condition" value="Very Good" />
                            <lable for="condition-very-good">Very Good</lable>
                            <input type="checkbox" id="condition-good" name="Condition" value="Good" />
                            <lable for="condition-good">Good</lable>
                            <input type="checkbox" id="condition-acceptable" name="Condition" value="Acceptable" />
                            <lable for="condition-acceptable">Acceptable</lable>
                        </td>
                    </tr>
                    <tr>
                        <td class="search-contianer-table-td"><span class="form-field">Seller:</span> <Input
                                type="checkbox" id="seller" name="Seller" value="Return Accepted" />
                            <label for="seller">Return Accepted</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="search-contianer-table-td"><span class="form-field">Shipping:</span> <Input
                                type="checkbox" id="shipping-free" name="Shipping" value="Free" />
                            <label for="shipping-free">Free</label>
                            <Input type="checkbox" id="shipping-expedited" name="shipping" value="Expedited" />
                            <label for="shipping-expedited">Expedited</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="search-contianer-table-td"><span class="form-field">Sort by:</span>
                            <select id="sort-by" name="Sort by">
                                <option value="Best Match" selected>Best Match</option>
                                <option value="Price: highest first">Price: highest first</option>
                                <option value="Price + Shipping: highest first">Price + Shipping: highest first</option>
                                <option value="Price + Shipping: lowest first">Price + Shipping: lowest first</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="search-contianer-table-td">
                            <button class="search-container-form-btn" onclick="clearFormAndCache();deleteCards()">Clear</button>
                            <button class="search-container-form-btn" type="button"
                                onclick="fetchAllItemDetails()">Search</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="card-container" id="card-container"></div>
    </div>


</body>

</html>